body {
    background-color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
    border-radius: 10px;
}

img.index-image {
    width: 640px;
}

p,
ol,
ul,
a {
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px
}

a {
    color: goldenrod;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-family: sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-size: 30px;
}

ul.index-list,
a.index-list {
    list-style: square;
    list-style-position: inside;
    font-size: 26px;
}
