@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter-regular.ttf') format('truetype'),
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
  line-height: 120%;
}

body {
  background: linear-gradient(rgb(0, 0, 0), rgb(21, 45, 65));
  max-width: 50vw;
  margin: 0 auto;
  padding: 0 1.5em;
}

.index-body {
  background: black;
}

p,
ol,
ul {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 400;
}

hr {
  border: 0;
  height: 0.2vh;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

div {
  padding: 0% 1% 0% 1%;
}

img {
  display: block;
  width: 100vw;
  max-width: 100%;
  height: auto;
  margin: 2% auto 2% auto;
  border-radius: 10px;
}

.index-image {
  margin: 4% auto 2% auto;
}

.parting-note {
  margin: 4% 0 10% 0;
  font-weight: 500;
}

#header,
#index-header {
  text-align: center;
  font-size: 3.5em;
  font-weight: 1000;
  margin: 3%;
  line-height: 110%;
}

.nav-links {
  font-weight: 1000;
}

.index-list {
  text-align: center;
  list-style: none;
  font-size: 35px;
  font-weight: bold;
  margin-top: 1%;
  padding: 0;
}

.ingredients {
  list-style: none;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
}

.ingredients,
.instructions {
  padding-left: 0;
}

.description,
.ingredients {
  margin-bottom: 3rem;
}

::marker {
  color: rgba(255, 255, 255, 0.418);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(255, 255, 255);
}

a {
  color: rgba(163, 226, 241, 0.87);
}

#lasagna-list:hover:before,
.lasagna-header:hover:before {
  content: "ラザニア";
}

#stir-fry-list:hover:before,
.stir-fry-header:hover:before {
  content: "牛肉炒め";
}

#hamburger-list:hover:before,
.hamburger-header:hover:before {
  content: "ハンバーガー";
}

#noodles-list:hover:before,
.noodles-header:hover:before {
  content: "炸醤麺";
}

.lasagna-header:hover span,
#lasagna-list:hover span,
.stir-fry-header:hover span,
#stir-fry-list:hover span,
.hamburger-header:hover span,
#hamburger-list:hover span,
.noodles-header:hover span,
#noodles-list:hover span {
  display: none;
}
