@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter-regular.ttf') format('truetype'),
}

* {
  box-sizing: border-box;;
  font-family: Inter, Arial, sans-serif;
  line-height: 30px;
}

body {
  background-color: black;
  max-width: 900px;
  margin: 0 auto;
}

img.index-image {
  max-width: 580px;
  margin: 15px auto;
  margin-bottom: -5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  height: auto;
  max-width: 800px;
  border-radius: 10px;
}

p.parting-note {
  margin-top: 35px;
  margin-bottom: 65px;
}

hr {
  border: 1.5px solid grey;
}

#header {
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 1000;
  margin: 20px auto 10px;
  line-height: 50px;
}

p,
ol,
ul,
a {
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.index-list {
  text-align: center;
  list-style: none;
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 0;
  line-height: 40px;
}

a.nav-links {
  font-weight: 1000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

a {
  color: goldenrod;
}
